<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="Config.ExeVersion" value="1.4"/>
    <add key="UI.ContactsFile" value=""/>
    <add key="UI.OutputFolder" value=""/>
    <add key="UI.GeneratePerContact" value="Letter"/>
  </appSettings>
</configuration>
