<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="Config.ExeVersion" value="1.17.5"/>
    <add key="UI.ContactsFile" value=""/>
    <add key="UI.OutputFolder" value=""/>
    <add key="UI.GeneratePerContact" value="Letter"/>

    <add key="UI.Print.EnvelopSize" value=""/>
    <add key="UI.Print.EnvelopWidth" value=""/>
    <add key="UI.Print.EnvelopHeight" value=""/>
    <add key="UI.Print.EnvelopMarginLeft" value=""/>
    <add key="UI.Print.EnvelopMarginRight" value=""/>
    <add key="UI.Print.EnvelopMarginTop" value=""/>
    <add key="UI.Print.EnvelopMarginBottom" value=""/>

    <add key="UI.Print.PostcardSize" value=""/>
    <add key="UI.Print.PostcardWidth" value=""/>
    <add key="UI.Print.PostcardHeight" value=""/>
    <add key="UI.Print.PostcardMarginLeft" value=""/>
    <add key="UI.Print.PostcardMarginRight" value=""/>
    <add key="UI.Print.PostcardMarginTop" value=""/>
    <add key="UI.Print.PostcardMarginBottom" value=""/>
  </appSettings>
</configuration>
